{{ define "main" }}
<div class="section">
    <div class="container">

        <h1 class="title">{{ .Title }}</h1>
        <p class="subtitle">{{ len .Pages }} {{ if eq (len .Pages) 1 }}przepis{{ else }}przepisów{{ end }} w podkategorii "{{ .Title }}" ze śniadań</p>
        
        <div class="columns is-multiline">
            {{ range .Pages.ByPublishDate.Reverse }}            
            <div class="column is-one-third">
                <div class="card" style="height: 100%; display: flex; flex-direction: column;">
                    {{ if .Params.recipe_image }}
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ .Site.BaseURL }}{{ .Params.recipe_image }}" alt="{{ .Title }}">
                        </figure>
                    </div>
                    {{ end }}                    
                    <div class="card-content" style="display: flex; flex-direction: column; height: 100%;">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-5">
                                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                                </p>
                            </div>
                        </div>
                        
                        <div class="content" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: flex-end;">
                            <div>
                                {{ if .Params.servings }}
                                <span class="tag is-light">
                                    <i class="fas fa-users pr-1"></i>{{ .Params.servings }} porcji
                                </span>
                                {{ end }}
                                
                                {{ if .Params.prep_time }}
                                <span class="tag is-light">
                                    <i class="fas fa-clock pr-1"></i>{{ .Params.prep_time }} min
                                </span>
                                {{ end }}
                                
                                {{ if .Params.calories }}
                                <span class="tag is-light">
                                    <i class="fas fa-fire pr-1"></i>{{ .Params.calories }} kcal
                                </span>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
