{{ define "main" }}
<div class="section">
    <div class="container">

        <h1 class="title">{{ .Title }}</h1>
        <p class="subtitle">{{ len .Pages }} {{ if eq (len .Pages) 1 }}przepis{{ else }}przepisów{{ end }} w
            podkategorii "{{ .Title }}" ze śniadań</p>
        <div class="columns is-multiline">
            {{ $sortedPages := partial "sort-recipe-pages.html" .Pages | transform.Unmarshal }}
            {{ range sort $sortedPages "key" }}
            <div class="column is-2-desktop is-3-tablet is-full-mobile">
                {{ partial "summary.html" .page }}
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}