baseURL = "https://graniluk.github.io/CookBook/"
defaultContentLanguage = "pl"
ignoreFiles = ["content/_drafts/Do sformatowania/.*", "content/weekly-plans/.*"]

[permalinks]
  categories = "/categories/:slug/"
  subcategories = "/subcategories/:slug/"

[taxonomies]
  categories = "categories"
  subcategories = "subcategories"
  tag = "tags"
  diet = "diets"

[languages]
  [languages.pl]
    languageCode = "pl-pl"
    languageName = "Polski"
    title = "Moja Książka Kucharska"
    weight = 1

[params.front]
defaultAuthor = "Autor Przepisu" #Put in the default name of the author of the recipe
defaultImage = "/images/defaultImage.avif" #default image that will be used for a recipe with no image
defaultImageHeight = 512 #default recipe image height
defaultImageWidth = 512 # default recipe image width

# If you have a logo image, add it here, else just text (as an image) will be added
# The default height/width are optimized for the navbar (112W X 28H recommended), best to get your logo as close as possible to that
# The site will SCALE your image, but will not force a stretch, so you may need to stretch it in external tool before using.
[params.logo]
fileName = "/CookBook/images/logo.webp"
#fileName = "images/logo-alt.png" #alt logo if you are interested
height = 50
width = 200

[params.favicon]
fileName = "/images/icon.png" #your favicon here if you wish to change it.

[menu]
  [[menu.main]]
    name = "Strona Główna"
    pre = "fas fa-home" #icon, change if you would prefer a different icon
    url = "/"
    weight = 1
  
    [[menu.main]]
    name = "Kategorie"
    pre = "fas fa-list"
    identifier = "categories"
    weight = 2  

  [[menu.main]]
    name = "Ulubione"
    pre = "fas fa-star"
    identifier = "favourites"
    url = "/favourites/"
    weight = 3

  [[menu.main]]
    name = "Kolejka"
    pre = "fas fa-hourglass"
    identifier = "queued"
    url = "/queued/"
    weight = 4
    
    [[menu.main]]
    name = "Diety"
    pre = "fas fa-leaf"
    identifier = "diety"
    url = "/diets/"
    weight = 5
  [[menu.main]]
    name = "Low FODMAP"
    parent = "diety"
    url = "/diets/low-fodmap/"
    weight = 31
  
  [[menu.main]]
    name = "Plany Tygodniowe"
    pre = "fas fa-calendar-week"
    url = "/weekly-plans/"
    weight = 6
    
    [[menu.main]]
    name = "Śniadania"
    parent = "categories"
    url = "/categories/sniadania/"
    weight = 1
    identifier = "sniadania"
  [[menu.main]]
    name = "Słodkie"
    parent = "sniadania"
    url = "/subcategories/słodkie/"
    weight = 11
  [[menu.main]]
    name = "Słone" 
    parent = "sniadania"
    url = "/subcategories/słone/"
    weight = 12
  [[menu.main]]
    name = "Obiady"
    parent = "categories"
    url = "/categories/obiady/"
    weight = 2
  [[menu.main]]
    name = "Sałatki"
    parent = "categories"
    url = "/categories/salatki/"
    weight = 3
  [[menu.main]]
    name = "Desery"
    parent = "categories"
    url = "/categories/desery/"
    weight = 4
  [[menu.main]]
    name = "Sosy"
    parent = "categories"
    url = "/categories/sosy/"
    weight = 5
  [[menu.main]]
    name = "Tagi" # change to w/e you want, tags or categories works best
    pre = "fas fa-tags" #icon, change if you would prefer a different icon
    url = "/tags/"
  weight = 7

# Print output just creates a special route for a print view
[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "PRINT"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]
  term = ["HTML", "RSS"]
  
# The settings for the print format
[outputFormats]
[outputFormats.PRINT]
  name = "PRINT"
  mediaType = "text/html"
  baseName = "print"

# disable relative URLs to ensure images reference the repository path correctly
# relativeURLs = true
canonifyURLs = true

# Exclude draft content from builds
buildDrafts = false

# Cache control settings
enableGitInfo = true

[params]
googleAnalytics = "G-P9537SX3LM"
