<!DOCTYPE html>
<html>
{{- partial "printhead.html" . -}}

<body>
    <div class="section">
        <div class="grid place-items-center">
            <div class="md:w-1/2"
                style="border-radius: 1%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
                <div class="container">
                    <div class="grid grid-cols-2 gap-4">
                        <div class="col-span-1">
                            <h1 id="mainTitle" class="text-3xl font-serif font-bold"> {{ .Title }} </h1>
                            <p class="text-lg text-gray-600 italic" style="margin-bottom: .5em;"> {{ .Params.Author }}</p>
                            {{ partial "printmetadata.html" . }}
                            <p class="text-lg text-gray-600 italic" style="margin-top: .5em;"> {{ .Params.Tagline }}</p>
                        </div>
                        <div class="col-span-1">
                            <div class="is-pulled-right">
                                <figure class="image">
                                    {{- $image_url := partial "asset-url.html" "/images/defaultImage.avif" -}}
                                    {{- if and .Params.recipe_image (fileExists (printf "static/%s"
                                    .Params.recipe_image)) -}}
                                    {{- $image_url = partial "asset-url.html" (printf "/%s" .Params.recipe_image) -}}
                                    {{- end -}}
                                    <img style="border-radius: 3%; width: 128px; height: 128px" src="{{ $image_url }}"
                                        alt="Placeholder image">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin-top: .5em; margin-bottom: 1em;">
                <div class="container text-center">
                    {{ partial "printstatstable.html" . }}
                </div>
                <hr style="margin-top: 1em; margin-bottom: .5em;">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
</body>
{{ partial "printscript.html" }}

</html>