{{ define "main" }}
<div class="page-section">
    <span class="text-3xl text-center">{{ .Title }}</span>
    <i class="fas fa-tags fa-2x pl-3 pb-3"></i>
    <div class="recipe-grid">
        {{ $.Scratch.Set "category" .Title }}
        {{ $pages := .Data.Pages }}
        {{ $readyToTestFalse := where $pages ".Params.readyToTest" "ne" true }}
        {{ $readyToTestTrue := where $pages ".Params.readyToTest" true }}
        {{ $sortedPages := $readyToTestFalse | append $readyToTestTrue }}
        {{ range $sortedPages }}
        <div>
            {{ partial "summary.html" . }} {{/* pass in the element to the partial */}}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}