{{ define "main" }}
<div class="section">
    <span class="is-size-2 has-text-centered">{{ .Title }}</span>
    <i class="fas fa-tags fa-2x pl-3 pb-3"></i>
    <div class="columns is-multiline">
        {{ $.Scratch.Set "category" .Title }}
        {{ $pages := .Data.Pages }}
        {{ $readyToTestFalse := where $pages ".Params.readyToTest" "ne" true }}
        {{ $readyToTestTrue := where $pages ".Params.readyToTest" true }}
        {{ $sortedPages := $readyToTestFalse | append $readyToTestTrue }}
        {{ range $sortedPages }}
        <div class="column is-2-desktop is-3-tablet is-full-mobile">
            {{ partial "summary.html" . }} {{/* pass in the element to the partial */}}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}