{{ define "main" }}
<div class="section">
    <div class="columns is-centered">        
        <div class="column is-full-mobile is-half-desktop" style="border-radius: 1%; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">            
            <div class="is-flex" style="justify-content: center; border-radius: 3%; position: relative;">
                <figure class="image" style="max-width: 300px; width: 100%; aspect-ratio: 1/1;"> 
                    {{- $image_url := partial "asset-url.html" "/images/defaultImage.png" -}}
                    {{- if and .Params.recipe_image (fileExists (printf "static/%s" .Params.recipe_image)) -}}
                        {{- $image_url = partial "asset-url.html" (printf "/%s" .Params.recipe_image) -}}
                    {{- end -}}
                    <img style="border-radius: 3%; width: 100%; height: 100%; object-fit: cover;" src="{{ $image_url }}" alt="Placeholder image">
                </figure>
                
                {{ if .Params.link }}
                <div id="youtubeButton" style="position: absolute; bottom: 0; left: 0;" class="is-rounded">
                    <a href="{{ .Params.link }}" target="_blank"><i class="fab fa-youtube fa-3x" style="color: #FF0000;"></i></a>
                </div>
                {{ end }}
                                    <div id="shareButton" style="position: absolute; bottom: 0; right: 0;" class="is-rounded">
                                        <button onclick="shareRecipe()" style="background: none; border: none; cursor: pointer;"><i class="fas fa-share-from-square fa-3x"></i></button>
                                </div>
            </div>
              <div class="container has-text-centered">
                <h1 class="title is-bold"> {{ .Title }}</h1>
                <hr>
            </div>
            <div class="container has-text-centered">    
                {{ partial "statstable.html" . }}
            </div>
            <hr>
            <div class="container has-text-centered">    
                {{ partial "macrostable.html" . }}
            </div>
            <hr>
            <p class="subtitle is-italic"> {{ .Params.Tagline }}</p>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}
