<div class="columns is-mobile is-multiline">
    <div class="column is-one-quarter-mobile" style="border-right: 1px solid #dbdbdb">
        <i class="fas fa-fire fa-lg"></i>
        <div></div>
        <p class="has-text-weight-bold is-size-6">Kalorie</p>
        <div></div>
        {{ .Params.Calories | default "---" }} kcal
    </div>
    <div class="column is-one-quarter-mobile" style="border-right: 1px solid #dbdbdb">
        <i class="fas fa-dumbbell fa-lg"></i>
        <div></div>
        <p class="has-text-weight-bold is-size-6">Białko</p>
        <div></div>
        {{ .Params.Protein | default "---" }}g
    </div>
    <div class="column is-one-quarter-mobile" style="border-right: 1px solid #dbdbdb">
        <i class="fas fa-droplet fa-lg"></i>
        <div></div>
        <p class="has-text-weight-bold is-size-6">Tłuszcze</p>
        <div></div>
        {{ .Params.Fat | default "---" }}g
    </div>
    <div class="column is-one-quarter-mobile">
        <i class="fas fa-wheat-awn fa-lg"></i>
        <div></div>
        <p class="has-text-weight-bold is-size-6">Węglowodany</p>
        <div></div>
        {{ .Params.Carbohydrate | default "---" }}g
    </div>
</div>
