<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            {{- $image_url := partial "asset-url.html" "/images/defaultImage.avif" -}}
            {{- if and .Params.recipe_image (fileExists (printf "static/%s" .Params.recipe_image)) -}}
            {{- $image_url = partial "asset-url.html" (printf "/%s" .Params.recipe_image) -}}
            {{- end -}}
            <img src="{{ $image_url }}" alt="{{ .Title }}">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-5">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    {{/* Dodajemy zielony znaczek dla bezpiecznych przepisów */}}
                    {{ partial "fodmap-badge.html" . }}
                </p>
                {{ if .Params.tagline }}
                <p class="subtitle is-6">{{ .Params.tagline }}</p>
                {{ end }}
            </div>
        </div>

        <div class="content">
            {{ if .Params.servings }}
            <span class="tag is-light">
                <i class="fas fa-users pr-1"></i>{{ .Params.servings }} porcji
            </span>
            {{ end }}

            {{ if .Params.prep_time }}
            <span class="tag is-light">
                <i class="fas fa-clock pr-1"></i>{{ .Params.prep_time }} min
            </span>
            {{ end }}

            {{ if .Params.calories }}
            <span class="tag is-light">
                <i class="fas fa-fire pr-1"></i>{{ .Params.calories }} kcal
            </span>
            {{ end }}

            {{/* Pokazujemy informacje FODMAP */}}
            {{ if .Params.fodmap }}
            <br>
            <span class="tag is-success is-light">
                <i class="fas fa-check pr-1"></i>{{ .Params.fodmap.serving_ok }}
            </span>
            {{ end }}

            <br><br>
            {{ if .Params.tags }}
            {{ range .Params.tags }}
            <span class="tag is-primary is-light">{{ . }}</span>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>