<script src='{{ partial "asset-url.html" "/js/umbrella.min.js" }}'></script>
<script src='{{ partial "asset-url.html" "/js/navbar.js" }}'></script>
<script src='{{ partial "asset-url.html" "/js/custom.js" }}'></script>
<script src='{{ partial "asset-url.html" "/js/share-recipe.js" }}'></script>
<script src='{{ partial "asset-url.html" "/js/menu.js" }}'></script>
<script src='{{ partial "asset-url.html" "/js/recipe-filter.js" }}'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fuse.js/7.1.0/fuse.min.js'></script>