<div class="stats-grid">
    <div class="stats-item border-r border-base-300">
        <i class="fas fa-concierge-bell fa-lg" style="color: #4ab1ba7e;"></i>
        <p class="font-bold text-sm mt-2">Porcje</p>
        <p class="mt-1">{{ .Params.Servings | default "---"}} porcji</p>
    </div>
    <div class="stats-item border-r border-base-300">
        <i class="fas fa-hourglass-half fa-lg" style="color: #f39c12;"></i>
        <p class="font-bold text-sm mt-2">Czas przygotowania</p>
        <p class="mt-1">{{ .Params.Prep_time | default "---"}} minut</p>
    </div>
    <div class="stats-item">
        <i class="fas fa-temperature-high fa-lg" style="color: #e74c3c;"></i>
        {{ if .Params.Cook }}
        <p class="font-bold text-sm mt-2">Czas gotowania</p>
        {{ else }}
        <p class="font-bold text-sm mt-2">Czas chłodzenia</p>
        {{ end }}
        <p class="mt-1">
        {{ if eq .Params.Cook_increment "hours" }}
        {{ .Params.Cook_time | default "---"}} godzin
        {{ else }}
        {{ .Params.Cook_time | default "---"}} minut
        {{ end }}
        </p>
    </div>
</div>